/**
 * @author Michael Gamlem III
 * @copyright This file is subject to the terms and conditions defined in file 'LICENSE', which is part of the source code for this project.
 * @format
 */

@use "../../styles/variables" as variables;

.facet-sidebar {
	min-width: 200px;
	margin-right: variables.$margin-xl;

	.active-facets {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: variables.$margin-lg;

		.active-facet {
			@include variables.centerVertically;

			.text {
				text-transform: capitalize;
			}

			.close-button {
				height: 8px;
				width: 8px;
				margin-left: variables.$margin-sm;
			}
		}
	}

	.facet-header button {
		text-transform: capitalize;
	}
}
