{
  "rules": {
    "color-hex-length": "long",
    "comment-whitespace-inside": "always",
    "declaration-block-no-redundant-longhand-properties": true,
    "declaration-no-important": true,
    "font-family-name-quotes": "always-unless-keyword",
    "length-zero-no-unit": true,
    "no-duplicate-at-import-rules": true,
    "number-max-precision": 1,
    "value-keyword-case": "lower"
  }
}
