/**
 * @author Michael Gamlem III
 * @copyright This file is subject to the terms and conditions defined in file 'LICENSE', which is part of the source code for this project.
 * @format
 */

@use "../../styles/bootstrap.scss" as bootstrap;

@font-face {
	font-family: "eote-symbols";
	src: url("../../assets/EotE_Symbol-Regular_v1.otf") format("opentype");
}

.gutter-container {
	margin: 20px 30px;
}

.page {
	color: var(--bs-body-color);
	background-color: var(--bs-body-bg);

	.dice-container {
		display: flex;
		margin-top: 12px;
	}
}
