/**
 * @author Michael Gamlem III
 * @copyright This file is subject to the terms and conditions defined in file 'LICENSE', which is part of the source code for this project.
 * @format
 */

.edge-of-the-empire-dice-selector {
	width: 40%;
	min-height: 370px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.dice-options-container {
		display: flex;
		flex-direction: column;

		.dice-pair {
			display: flex;
			justify-content: space-between;

			@include bootstrap.media-breakpoint-down(md) {
				flex-direction: column;
			}

			.dice-option {
				padding: 0 4px;
				margin-bottom: 10px;
			}
		}

		.force-dice {
			max-width: 50%;

			@include bootstrap.media-breakpoint-down(md) {
				max-width: unset;
			}
		}
	}

	.button-container {
		button {
			margin-right: 4px;

			@include bootstrap.media-breakpoint-down(md) {
				margin-bottom: 4px;
			}
		}
	}
}
