/**
 * @author Michael Gamlem III
 * @copyright This file is subject to the terms and conditions defined in file 'LICENSE', which is part of the source code for this project.
 * @format
 */

body {
	width: 100vw;
}

.app {
	width: 100%;
}

.heading {
	display: flex;
	justify-content: space-between;
}
