/**
 * @author Michael Gamlem III
 * @copyright This file is subject to the terms and conditions defined in file 'LICENSE', which is part of the source code for this project.
 * @format
 */

.ag-theme-quartz {
	--active-color: var(--bs-primary);
	--selected-row-background-color: var(--primary-bg-subtle);
	--row-hover-color: var(--primary-bg-subtle);
	--column-hover-color: var(--primary-bg-subtle);
	--input-focus-border-color: var(--primary-border-subtle);
	--header-foreground-color: var(--black);
	--range-selection-border-color: var(--black);
	--background-color: var(--body-bg);
	--foreground-color: var(--dark-text-emphasis);
	--border-color: var(--border-color);
	--header-background-color: var(--gray-100);
	--odd-row-background-color: var(--gray-100);
	--invalid-color: var(--danger);
	--font-family: var(--font-family-base);
	--data-color: var(--dark-text-emphasis);
}
.ag-theme-quartz-dark {
	--active-color: var(--bs-primary);
	--row-hover-color: var(--bs-primary-bg-subtle-dark);
	--column-hover-color: var(--bs-primary-bg-subtle-dark);
	--input-focus-border-color: var(--bs-primary-border-subtle-dark);
	--header-foreground-color: var(--bs-white);
	--range-selection-border-color: var(--bs-black);
	--background-color: var(--bs-gray-900);
	--foreground-color: var(--bs-white);
	--border-color: var(--bs-gray-600);
	--header-background-color: var(--bs-gray-800);
	--odd-row-background-color: var(--bs-gray-800);
	--invalid-color: var(--bs-danger);
	--font-family: var(--bs-font-family-base);
	--data-color: var(--bs-white);
}
.ag-theme {
	--range-selection-border-color: transparent;
	--input-focus-box-shadow: var(--bs-box-shadow);
	--checkbox-unchecked-color: var(--bs-primary);
}

.ag-checkbox-input-wrapper.ag-disabled {
	opacity: unset;
}

.ag-checkbox-cell {
	justify-content: center;
}
