/**
 * @author Michael Gamlem III
 * @copyright This file is subject to the terms and conditions defined in file 'LICENSE', which is part of the source code for this project.
 * @format
 */

@font-face {
	font-family: "eote-symbols";
	src: url("../assets/EotE_Symbol-Regular_v1.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

* {
	--bs-toast-bg: var(--bs-body-bg) !important;
	--margin-sm: 6px;
	--margin-md: 10px;
	--margin-lg: 14px;

	--large-icon-size: 24px;

	--edge-symbols: "eote-symbols";
}
