/**
 * @author Michael Gamlem III
 * @copyright This file is subject to the terms and conditions defined in file 'LICENSE', which is part of the source code for this project.
 * @format
 */

@use "../../styles/variables" as variables;

.table {
	min-width: 30%;
	margin-left: variables.$margin-md;

	.head {
		text-align: center;

		.badges {
			margin-left: 0;
		}
	}
}
