/**
 * @author Michael Gamlem III
 * @copyright This file is subject to the terms and conditions defined in file 'LICENSE', which is part of the source code for this project.
 * @format
 */

@use "../../styles/bootstrap.scss" as bootstrap;
@use "../../styles/variables" as variables;

.gutter-container {
	@include variables.gutterContainer();
}

.page {
	@include variables.page();

	.search-page-content {
		display: flex;

		.search-result-container {
			display: flex;
			flex-direction: column;
			width: 75%;

			.all-results-loaded-message {
				width: 100%;
				text-align: center;
				font-style: italic;
				color: bootstrap.$text-muted;
			}
		}
	}
}
