/**
 * @author Michael Gamlem III
 * @copyright This file is subject to the terms and conditions defined in file 'LICENSE', which is part of the source code for this project.
 * @format
 */

@use "../../styles/bootstrap.scss" as bootstrap;

.options {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-bottom: 24px;
}

.option {
	margin: 6px;

	label {
		margin-bottom: 4px;
	}
}

// Override Bootstrap CSS
[data-bs-theme="dark"] .carousel,
.carousel {
	.carousel-indicators {
		display: none;
	}

	.carousel-control-next-icon,
	.carousel-control-prev-icon {
		filter: none;
	}
}

.carousel {
	.carousel-indicators {
		display: none;
	}

	.carousel-control-next-icon,
	.carousel-control-prev-icon {
		filter: invert(1) grayscale(100);
	}
}

.preview-container {
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: bootstrap.$gray-400;
	position: relative;

	&.dark {
		background-color: bootstrap.$body-bg-dark;
	}

	.preview {
		background-color: bootstrap.$white;
		height: 96%;
		aspect-ratio: 3 / 5;
		max-height: 482px;

		&.landscape {
			width: 96%;
			aspect-ratio: 5 / 3;
		}
	}
}
