/**
 * @author Michael Gamlem III
 * @copyright This file is subject to the terms and conditions defined in file 'LICENSE', which is part of the source code for this project.
 * @format
 */

.content {
	border: none;
	outline: none;

	flex-direction: column;

	.edge-dice-results {
		width: 100%;

		.results-table {
			.type {
				min-width: 26%;
			}
		}
	}
}
