/**
 * @author Michael Gamlem III
 * @copyright This file is subject to the terms and conditions defined in file 'LICENSE', which is part of the source code for this project.
 * @format
 */

@use "../../styles/bootstrap.scss" as bootstrap;

@mixin column1 {
	min-width: 16%;
}

@mixin column2 {
	flex-grow: 1;
}

@mixin column3 {
	min-width: 16%;
}

.number-dice-results {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin-left: 12px;

	.results-table {
		min-height: 370px;
		display: flex;
		flex-direction: column;
		text-align: center;

		.title-row {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border: none;

			td {
				border: none;
			}
		}

		.header {
			display: flex;

			.sides {
				@include column1;
			}

			.results {
				@include column2;
			}

			.sum {
				@include column3;
			}
		}

		.results-section {
			display: flex;
			justify-content: space-between;

			.sides {
				text-align: start;
				@include column1;
			}

			.results {
				overflow: scroll;
				flex-grow: 1;
				text-align: center;

				span {
					font-family: bootstrap.$font-family-base;
				}
			}

			.sum {
				min-width: 16%;
			}
		}
	}
}
