/**
 * @author Michael Gamlem III
 * @copyright This file is subject to the terms and conditions defined in file 'LICENSE', which is part of the source code for this project.
 * @format
 */

.footer {
	margin-top: 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: smaller;

	.version {
		font-size: smaller;

		@media (min-width: 768px) {
			font-size: unset;
		}
	}

	.links {
		display: flex;
		justify-content: center;
		align-items: center;

		button {
			font-size: small;
		}

		@media (min-width: 768px) {
			display: unset;

			button {
				font-size: unset;
			}
		}
	}

	.github-button {
		background-color: transparent;
		border: none;

		i {
			font-size: xx-large;
			color: var(--bs-black);
		}
	}
}

[data-bs-theme="dark"] i.github-icon {
	color: var(--bs-white);
}
