/**
 * @author Michael Gamlem III
 * @copyright This file is subject to the terms and conditions defined in file 'LICENSE', which is part of the source code for this project.
 * @format
 */

.export-page {
	background-color: #ffffff;

	.page {
		background-color: #ffffff;
		padding: 4px;
		display: grid;
	}

	.page.two-columns {
		grid-template-columns: 50% 50%;
	}

	.page.three-columns {
		grid-template-columns: 33% 33% 33%;
	}

	.page.four-columns {
		grid-template-columns: 25% 25% 25% 25%;
	}

	.page.two-rows {
		grid-template-rows: 50% 50%;
	}

	.letter-landscape {
		height: 8.5in;
		width: 11in;
	}
}
