/**
 * @author Michael Gamlem III
 * @copyright This file is subject to the terms and conditions defined in file 'LICENSE', which is part of the source code for this project.
 * @format
 */

.grid-container {
	width: 100%;
	height: 78vh;

	.ag-ltr .ag-cell-focus:not(.ag-cell-range-selected):focus-within,
	.ag-ltr .ag-context-menu-open .ag-cell-focus:not(.ag-cell-range-selected),
	.ag-ltr .ag-full-width-row.ag-row-focus:focus .ag-cell-wrapper.ag-row-group,
	.ag-ltr .ag-cell-range-single-cell,
	.ag-ltr .ag-cell-range-single-cell.ag-cell-range-handle,
	.ag-rtl .ag-cell-focus:not(.ag-cell-range-selected):focus-within,
	.ag-rtl .ag-context-menu-open .ag-cell-focus:not(.ag-cell-range-selected),
	.ag-rtl .ag-full-width-row.ag-row-focus:focus .ag-cell-wrapper.ag-row-group,
	.ag-rtl .ag-cell-range-single-cell,
	.ag-rtl .ag-cell-range-single-cell.ag-cell-range-handle {
		border: 1px transparent;
		outline: none;
	}

	.ag-cell {
		border: 1px transparent;
	}
}

.cookie-toast-content {
	i.bi-box-arrow-up-right {
		margin-left: 4px;
	}

	button {
		margin-right: 10px;
	}
}
