/**
 * @author Michael Gamlem III
 * @copyright This file is subject to the terms and conditions defined in file 'LICENSE', which is part of the source code for this project.
 * @format
 */

@use "../../styles//bootstrap.scss" as bootstrap;

.print-card {
	height: 100%;
	color: bootstrap.$black;
	display: flex;
	flex-direction: column;

	.container {
		display: flex;
		flex-direction: column;
		padding: 12px;
		flex-grow: 1;
		border: 6px double;

		.header-container {
			text-align: center;

			.header {
				font-size: large;
				font-weight: bold;
			}
		}

		.subtitle {
			font-size: small;
			text-align: center;
			margin-bottom: 8px;
			font-style: italic;
			margin: 0;
		}

		hr {
			margin: 8px 8px 14px 8px;
		}

		.table-info {
			display: flex;
			justify-content: center;

			table {
				width: 100%;
				margin-bottom: 12px;
			}

			th,
			td {
				table-layout: fixed;
				width: 50%;
				outline: 1px bootstrap.$border-style bootstrap.$border-color;
				text-align: center;
			}

			th {
				font-weight: normal;
				font-style: italic;
				font-size: small;
			}

			td {
				font-size: smaller;
			}
		}

		.details-section {
			font-size: x-small;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			flex-grow: 1;
		}
	}
}
