/**
 * @author Michael Gamlem III
 * @copyright This file is subject to the terms and conditions defined in file 'LICENSE', which is part of the source code for this project.
 * @format
 */

.print-card {
	height: 100%;
	color: var(--bs-black);
	display: flex;
	flex-direction: column;
	aspect-ratio: 3 / 5;
	max-height: 400px;

	.container {
		display: flex;
		flex-direction: column;
		padding: 12px;
		flex-grow: 1;
		border: 6px double;

		.header-container {
			text-align: center;

			.header {
				font-size: large;
				font-weight: bold;
			}
		}

		.subtitle {
			font-size: small;
			text-align: center;
			margin-bottom: 8px;
			font-style: italic;
			margin: 0;
		}

		hr {
			margin: 8px 8px 14px 8px;
		}

		.table-info {
			display: flex;
			justify-content: center;

			table {
				width: 100%;
				margin-bottom: 12px;
			}

			th,
			td {
				table-layout: fixed;
				width: 50%;
				outline: 1px var(--bs-border-style) var(--bs-border-color);
				text-align: center;
			}

			th {
				font-weight: normal;
				font-style: italic;
				font-size: x-small;
			}

			td {
				font-size: x-small;
			}
		}

		.details-section {
			font-size: x-small;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			flex-grow: 1;

			p {
				margin-bottom: 8px;
			}

			@mixin max-lines {
				display: -webkit-box;
				overflow: hidden;
				text-overflow: ellipsis;
				max-lines: 5;
				-webkit-line-clamp: 5;
				-webkit-box-orient: vertical;
			}

			p.max-lines-5 {
				@include max-lines();
			}

			p.max-lines-8 {
				@include max-lines();
				max-lines: 8;
				-webkit-line-clamp: 8;
			}
		}
	}
}

@media print {
	@page {
		size: letter landscape;
		margin: 6px;
	}
}
