/**
 * @author Michael Gamlem III
 * @copyright This file is subject to the terms and conditions defined in file 'LICENSE', which is part of the source code for this project.
 * @format
 */

@use "../../styles/bootstrap.scss";
@use "../../styles/variables" as variables;

@mixin column1 {
	min-width: 25%;

	@include bootstrap.media-breakpoint-down(md) {
		min-width: 33%;
	}
}

@mixin column2 {
	flex-grow: 1;
}

@mixin column3 {
	min-width: 16%;
}

.edge-dice-results {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin-left: 12px;

	.results-table {
		min-height: 370px;
		display: flex;
		flex-direction: column;
		text-align: center;

		.header {
			display: flex;

			.type {
				@include column1;
			}

			.results {
				@include column2;
			}

			.sum {
				@include column3;
			}
		}

		.results-section {
			display: flex;
			justify-content: space-between;

			.type {
				text-align: start;
				@include column1;
			}

			.short-type {
				display: none;
			}

			@include bootstrap.media-breakpoint-down(md) {
				.type {
					display: none;
				}

				.short-type {
					display: unset;
					@include column1;
				}
			}

			.eote-results {
				display: flex;
				justify-content: center;
				overflow: scroll;
				flex-grow: 1;

				.dice-result {
					display: flex;
					margin: 0 6px;
				}
			}

			.force-results {
				background-color: bootstrap.$white;
				color: bootstrap.$black;
			}

			.sum {
				min-width: 16%;
			}
		}

		tfoot {
			tr {
				display: flex;
			}

			.totals-header {
				flex-grow: 1;
			}

			.results-success-and-failure {
				width: 50%;
			}

			.results-advantage-and-threat {
				width: 50%;
			}

			.results-light-side {
				width: 50%;
			}

			.results-dark-side {
				width: 50%;
			}

			.roll-success {
				display: flex;

				.label {
					@include column1;
					@include bootstrap.media-breakpoint-down(md) {
						min-width: 50%;
					}
				}

				.result {
					min-width: 50px;

					@include bootstrap.media-breakpoint-down(md) {
						min-width: 50%;
					}
				}

				.triumph-indicator,
				.despair-indicator {
					font-family: variables.$edge-symbols;
				}

				.triumph-indicator {
					color: bootstrap.$yellow;
				}

				.despair-indicator {
					color: bootstrap.$red;
				}

				.filler {
					flex-grow: 1;
				}

				.empty {
					border-bottom: none;
					flex-grow: 1;

					@include bootstrap.media-breakpoint-down(md) {
						display: none;
					}
				}
			}
		}
	}
}
